* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Yeseva-one Regular';
  line-height: 1.5;
  color: #4c4c4c;
  letter-spacing: 1px;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
a:hover {
  color: #cc9900;
}
ul li {
  list-style-type: none;
}
h1 {
  font-size: 5em;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  line-height: 1.25em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}
h1:after {
  content: url(images/deco_header.png);
  display: block;
  line-height: 0;
  margin-top: .5em;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1.5em;
}
@font-face {
  font-family: 'Yeseva-one Regular';
  src: url('fonts/yesevaone-regular_v2-webfont.woff2') format('woff2'), url('fonts/yesevaone-regular_v2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.page-center {
  max-width: 1250px;
  margin: 0 auto;
}
.page-center:after {
  clear: both;
  content: '';
  display: block;
}
.page-center.cont-pad {
  padding: 0 70px;
}
@media all and (max-width: 767px) {
  .page-center.cont-pad {
    float: none;
    width: 100%;
    display: block;
    padding: 0 20px;
  }
}
@media all and (min-width: 1221px) {
  .fixed .navigation {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    background: rgba(24, 20, 19, 0.8);
    z-index: 1;
    text-align: center;
    box-shadow: 0px 0px 6px 0px #000000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .fixed .navigation .right-nav {
    float: none;
    display: inline-block;
  }
  .fixed .navigation .right-nav .nav ul li {
    padding-bottom: 8px;
  }
  .fixed .navigation .right-nav .nav ul li:before {
    margin-bottom: 15px;
  }
  .fixed .navigation .right-nav .socials-gold {
    padding-top: 18px;
  }
  .fixed .logo {
    display: none;
  }
}
#back-top {
  position: fixed;
  bottom: 0;
  right: 15px;
  margin-bottom: 0;
  cursor: hand;
}
#back-top span {
  width: 50px;
  height: 40px;
  display: block;
  background: #777 url(https://cdn2.hubspot.net/hubfs/2284600/aWellers_2017_Images/arrow-down.png) no-repeat center center;
  transform: rotate(180deg);
  /* rounded corners */
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a {
  width: 50px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
#back-top a:hover span {
  background-color: #525252;
}
header {
  background-image: url(images/home_bg.jpg);
  max-height: 730px;
  background-attachment: fixed;
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 0 150px;
}
@media all and (max-width: 767px) {
  header {
    padding-bottom: 70px;
  }
}
@media all and (max-width: 1320px) {
  header .navigation {
    padding: 0 20px;
  }
}
header .navigation:after {
  clear: both;
  content: '';
  display: block;
}
header .navigation .logo {
  float: left;
  margin-top: 10px;
}
header .navigation .menu-button {
  display: none;
}
header .navigation .right-nav {
  float: right;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav {
    position: absolute;
    right: 15px;
    top: 70px;
    overflow: hidden;
    background: #181413;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
@media all and (min-width: 1221px) {
  header .navigation .right-nav {
    height: auto !Important;
  }
}
header .navigation .right-nav .nav {
  float: left;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .nav {
    float: none;
  }
}
header .navigation .right-nav .nav ul li {
  display: inline-block;
  margin-right: 25px;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .nav ul li {
    display: block;
    margin: 0;
    padding: 10px 0;
  }
  header .navigation .right-nav .nav ul li:last-child {
    margin-right: 0 !important;
  }
}
header .navigation .right-nav .nav ul li:last-child {
  margin-right: 20px;
}
header .navigation .right-nav .nav ul li:before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width .3s;
  margin-bottom: 40px;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .nav ul li:before {
    content: none;
  }
}
header .navigation .right-nav .nav ul li a {
  padding: 0 15px;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .nav ul li a {
    padding: 0 20px;
  }
}
header .navigation .right-nav .nav ul li.active:before {
  width: 100%;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .nav ul li.active:before {
    background-color: rgba(211, 206, 186, 0.4);
    border-top: none;
  }
}
header .navigation .right-nav .socials-gold {
  float: left;
  padding-top: 43px;
}
@media all and (max-width: 1220px) {
  header .navigation .right-nav .socials-gold {
    padding: 20px 20px 10px;
  }
}
header .navigation .right-nav .socials-gold img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
header .navigation .right-nav .socials-gold img:hover {
  -webkit-filter: brightness(80%);
}
header .navigation .right-nav .socials-gold ul li {
  display: inline-block;
  margin-right: 10px;
}
header .navigation .right-nav .socials-gold ul li:last-child {
  margin-right: 0;
}
@media all and (max-width: 1220px) {
  header .navigation #menu-button {
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50px;
    right: 10px;
    margin-top: -26px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
header .navigation #menu-button span {
  background: #444;
  display: block;
  height: 3px;
  position: absolute;
  left: 10px;
  right: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
header .navigation #menu-button span:first-child {
  top: 15px;
}
header .navigation #menu-button span:nth-child(2) {
  top: 24px;
}
header .navigation #menu-button span:last-child {
  top: 33px;
}
header .navigation #menu-button.open span:first-child {
  top: 21px;
  transform: rotate(-45deg);
}
header .navigation #menu-button.open span:nth-child(2) {
  width: 0%;
}
header .navigation #menu-button.open span:last-child {
  top: 21px;
  transform: rotate(45deg);
}
@media all and (max-width: 767px) {
  header .callout h1 {
    font-size: 3em;
  }
}
header .header-buttons {
  text-align: center;
}
header .header-buttons a {
  text-transform: uppercase;
  padding: 20px 50px;
  display: inline-block;
}
header .header-buttons a:first-child {
  margin-right: 30px;
  background-color: rgba(24, 20, 19, 0.6);
  border: 1px solid #121110;
}
header .header-buttons a:first-child:hover {
  background-color: #121110;
}
@media all and (max-width: 600px) {
  header .header-buttons a:first-child {
    margin: 0 auto 20px;
    display: block;
    width: 235.06px;
  }
}
header .header-buttons a:last-child {
  background-color: rgba(211, 206, 186, 0.4);
  border: 1px solid #d3ceba;
}
header .header-buttons a:last-child:hover {
  background-color: #d3ceba;
}
main .about {
  background-image: url(images/about_bg.jpg);
  max-height: 750px;
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
}
main .about .left-50 {
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 70px;
  text-align: center;
}
main .about .left-50 h2 {
  color: #cc9900;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  line-height: 1.625em;
}
main .about .left-50 h2:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
main .about .left-50 h2:after {
  content: url('images/divider_gold.png');
}
main .about .left-50 p {
  font-family: 'Lato';
}
main .about .left-50 img {
  margin-top: 1.5em;
  margin-left: 5em;
}
@media all and (max-width: 767px) {
  main .about .left-50 {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }
}
main .about .right-50 {
  float: right;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
@media all and (max-width: 767px) {
  main .about .right-50 {
    display: none;
  }
}
main .about .right-50 img {
  display: block;
  width: 100%;
  height: auto;
}
main .ingredients {
  background-image: url(images/ingredients_bg.jpg);
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
}
main .ingredients .right-50 {
  float: right;
  width: 50%;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 70px;
}
@media all and (max-width: 1220px) {
  main .ingredients .right-50 {
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  main .ingredients .right-50 {
    float: none;
    width: 100%;
    display: block;
    padding: 30px;
  }
}
main .ingredients .right-50 h2 {
  color: #ffffff;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  line-height: 1.625em;
}
main .ingredients .right-50 h2:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
main .ingredients .right-50 h2:after {
  content: url('images/divider_white.png');
}
main .ingredients .right-50 p {
  font-family: 'Lato';
  color: #ffffff;
}
main .ingredients .right-50 ul {
  margin-top: 4em;
}
main .ingredients .right-50 ul:after {
  clear: both;
  content: '';
  display: block;
}
main .ingredients .right-50 ul li {
  width: 33.33%;
  float: left;
  padding: 0 2% 0;
}
main .ingredients .right-50 ul li img {
  width: 100%;
  max-width: 110px;
  height: auto;
}
main .menu {
  background-image: url(images/menu_bg.jpg);
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
}
main .menu .left-50 {
  float: left;
  width: 50%;
  padding-left: 70px;
  padding-right: 70px;
}
@media all and (max-width: 1100px) {
  main .menu .left-50 {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 50px;
  }
}
@media all and (max-width: 900px) {
  main .menu .left-50 {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 3em;
  }
}
main .menu .left-50 .category {
  margin-bottom: 3em;
}
main .menu .left-50 .category:last-child {
  margin-bottom: 0;
}
main .menu .right-50 {
  float: right;
  width: 50%;
  padding-left: 70px;
  padding-right: 70px;
}
@media all and (max-width: 1100px) {
  main .menu .right-50 {
    float: right;
    width: 50%;
    padding-left: 50px;
    padding-right: 20px;
  }
}
@media all and (max-width: 900px) {
  main .menu .right-50 {
    float: none;
    width: 100%;
    padding: 0;
  }
}
main .menu .right-50 .category {
  margin-bottom: 3em;
}
main .menu .right-50 .category:last-child {
  margin-bottom: 0;
}
main .menu h2 {
  color: #cc9900;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  line-height: 1.625em;
}
main .menu h2:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
main .menu h2:after {
  content: url('images/divider_gold.png');
}
main .menu .category .dish {
  margin-bottom: 1.5em;
}
main .menu .category .dish:last-child {
  margin-bottom: 0;
}
main .menu .category .dish .divider-gold:after {
  clear: both;
  display: block;
  content: '';
  border-bottom: 1px solid #d5b867;
  margin-bottom: .5em;
}
main .menu .category .dish .divider-gold p {
  color: #cc9900;
  margin-bottom: .5em;
}
main .menu .category .dish .divider-gold p:first-child {
  float: left;
}
main .menu .category .dish .divider-gold p:last-child {
  float: right;
}
main .menu .category .dish .divider-gold p:last-child:after {
  clear: both;
  content: '';
  display: block;
}
main .menu .category .dish p.description {
  font-family: 'Lato';
  margin-bottom: 0;
  letter-spacing: 0;
}
main .menu .category .dish.special {
  border: 1px solid #d5b867;
  padding: 5px;
  position: relative;
  margin-top: 3em;
}
main .menu .category .dish.special:before {
  content: 'Special';
  background-color: #d5b867;
  padding: 3px 10px;
  color: #ffffff;
  font-family: 'Lato';
  position: absolute;
  top: -30px;
  right: -1px;
}
main .reviews {
  background-image: url(images/barbeque_bg.jpg);
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
}
main .reviews .black-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 75px 70px;
  color: #ffffff;
  max-width: 760px;
  margin: 0 auto;
}
main .reviews .black-overlay h2 {
  color: #ffffff;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  line-height: 1.625em;
}
main .reviews .black-overlay h2:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
main .reviews .black-overlay h2:after {
  content: url('images/divider_white.png');
}
main .reviews .black-overlay .comments:before {
  content: "\201C";
  display: block;
  font-size: 70px;
  position: absolute;
  left: -35px;
  top: -30px;
  color: #a1a5a3;
}
main .reviews .black-overlay p {
  text-align: center;
}
main .reviews .black-overlay p:first-of-type {
  line-height: 2.5em;
  position: relative;
}
main .reviews .black-overlay p:last-child {
  font-family: 'Lato';
}
main .reservations {
  background-image: url(images/book-now.jpg);
  background-size: cover;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: top center;
}
main .reservations .left-50 {
  float: left;
  width: 60%;
  padding-left: 0;
  padding-right: 0;
}
@media all and (max-width: 1220px) {
  main .reservations .left-50 {
    float: left;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 970px) {
  main .reservations .left-50 {
    display: none;
  }
}
main .reservations .left-50 .left-50 {
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
main .reservations .left-50 .left-50 img {
  width: 100%;
  height: auto;
  float: left;
}
main .reservations .left-50 .left-50 img:first-child {
  padding-right: 30px;
}
main .reservations .right-50 {
  float: right;
  width: 37%;
  padding-left: 0;
  padding-right: 0;
}
@media all and (max-width: 1220px) {
  main .reservations .right-50 {
    float: right;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 970px) {
  main .reservations .right-50 {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }
}
main .reservations .right-50 h2 {
  color: #cc9900;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  line-height: 1.625em;
}
main .reservations .right-50 h2:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
main .reservations .right-50 h2:after {
  content: url('images/divider_gold.png');
}
main .reservations .right-50 p {
  font-family: 'Lato';
  text-align: center;
}
main .reservations .right-50 .reservation-form label {
  display: block;
  font-family: 'Lato';
  color: #cc9900;
  font-weight: bold;
  margin-bottom: .2em;
}
main .reservations .right-50 .reservation-form input {
  padding: 10px;
  border: 1px solid #c8c6c6;
  margin-bottom: 1.5em;
  width: 198px;
  max-height: 37px;
}
@media all and (max-width: 970px) {
  main .reservations .right-50 .reservation-form input {
    width: 100%;
  }
}
main .reservations .right-50 .reservation-form input:focus {
  outline: none;
  border: 1px solid #cc9900;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
main .reservations .right-50 .reservation-form input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(images/calendar.png) no-repeat;
  background-position: right;
  width: 13px;
  height: 14px;
}
main .reservations .right-50 .reservation-form input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
main .reservations .right-50 .reservation-form input[type="submit"] {
  background-color: #cc9900;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  cursor: hand;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
main .reservations .right-50 .reservation-form input[type="submit"]:hover {
  background-color: #B58800;
}
@media all and (max-width: 767px) {
  main .reservations .right-50 .reservation-form input[type="submit"] {
    width: 198px;
  }
}
main .reservations .right-50 .reservation-form:after {
  clear: both;
  content: '';
  display: block;
}
main .reservations .right-50 .reservation-form .left-50 {
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
@media all and (max-width: 970px) {
  main .reservations .right-50 .reservation-form .left-50 {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }
}
main .reservations .right-50 .reservation-form .right-50 {
  float: right;
  width: 50%;
  padding-left: 20px;
  padding-right: 0;
}
@media all and (max-width: 970px) {
  main .reservations .right-50 .reservation-form .right-50 {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }
}
footer {
  background-color: #191919;
  padding: 70px 0;
  color: #ffffff;
}
footer h3 {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: normal;
  text-align: center;
  line-height: 1.125em;
  margin-bottom: 25px;
}
footer h3:after {
  line-height: 0;
  margin-top: .5em;
  display: block;
}
footer h3:after {
  content: url('images/divider_white_footer.png');
}
footer p {
  font-family: 'Lato';
  font-size: 13px;
  padding: 0 25px;
}
footer .widget {
  float: left;
  width: 33.33%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
@media all and (max-width: 767px) {
  footer .widget {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }
}
footer .widget img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
footer .widget img:hover {
  -webkit-filter: brightness(40%);
}
footer .widget ul li {
  display: inline-block;
  margin-right: 7px;
}
footer .widget ul li:last-child {
  margin-right: 0;
}
@media all and (max-width: 767px) {
  footer .widget .cards {
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */